name: Upload PyRMQ to PyPI

on: workflow_dispatch
  # workflow_run:
  #   workflows: ["Test across Python versions"]
  #   branches: [master]
  #   types:
  #     - completed

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Run semantic-release
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install -g semantic-release @semantic-release/changelog @semantic-release/exec @semantic-release/git @semantic-release/github
          semantic-release
